.form {
    width: 40%;
    padding: 20px;
    box-shadow: 2px 2px 8px 0px rgba(221, 225, 252, 1)
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0px;
}

.blogHeading {
    font-weight: bold;
    padding: 5px;
    font-size: 24px;
    color: rgb(20, 66, 20);
    border-bottom: 1px solid grey;
}

.item {
    width: 40%;
}